{% extends "shop/layout.html" %}


{% block content %}
    <br>
    <h2>{{ shop.name }}</h2>

    <br>
    <p>
        태그:
        {% for tag in tag_list %}
            <a href="{% url "shop:tag_detail" tag.name %}" class="badge bg-success">
                {{ tag.name }}
            </a>

        {% endfor %}

    </p>
    <br>
    {{ shop.description |linebreaks }}

    <hr/>
    {{ shop.created_at|timesince }} 전에 등록
    <br>
    <br>
    <hr/>

    <h5>댓글</h5>
    <ul>
        {% for review in review_list %}
            <li>
                {{ review.message }}
                by {{ review.author_name }}
                at {{ review.created_at|timesince }}
            </li>
        {% endfor %}

    </ul>



{% endblock %}