{% extends "shop/layout.html" %}


{% block content %}
    <h2>오늘은 어디서 배달할까?</h2>

    <div class="row">
        <div class="col-sm-8">가게 목록
            <ul>
                {% for shop in shop_list %}

                    <li>

                        <a href="{% url "shop:shop_detail" shop.pk %}">
                            {{ shop.name }}
                        </a>


                    </li>

                {% endfor %}


            </ul>

        </div>
        <div class="col-sm-4">카테고리

            <ul>

                <li>
                    <a href="?category_id="> 전체</a>

                </li>
                {% for category in category_list %}
                    <li>
                        <a href="?category_id={{ category.pk }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <br>
<br>
<div class="d-grid mb-3">
    <a href="{% url "shop:shop_new" %}" class="btn btn-primary">가게등록</a>
</div>
{% endblock %}