{% extends "shop/layout.html" %}


{% block content %}
    <br>
    <h2>{{ shop.name }}</h2>

    <br>
    <p>
        태그:
        {% for tag in tag_list %}
            <a href="{% url "shop:tag_detail" tag.name %}" class="badge bg-success">
                {{ tag.name }}
            </a>

        {% endfor %}

    </p>
    <br>
    {{ shop.description |linebreaks }}

    <hr/>
    {{ shop.created_at|timesince }} 전에 등록
    <a href="{% url "shop:shop_edit" shop.pk %}">수정하기</a>
    <hr/>
    <br>
    <br>
    <h5>댓글</h5>
    <a href="{% url "shop:review_new" shop.pk %}">댓글쓰기</a>
    <br>
    <br>
    <ul>
        {% for review in review_list %}
            <li>
                {{ review.message }}
                by {{ review.author_name }}
                at {{ review.created_at|timesince }}전
            </li>
<a href="{% url "shop:review_edit" shop.pk review.pk %}">Edit</a>
        {% endfor %}

    </ul>
    <hr>
    <a href="{% url "shop:shop_list" %}">목록으로</a>

{% endblock %}