{% extends "delicious/layout.html" %}

{% block content %}
     {# 검색기능구현  #}
    <form action ="" method="get">
    <input type = "text" name="query" value="{{ request.GET.query }}"/>
    <input type = "submit" value="검색"/>
    </form>
    {# 테이블 안으로 넣기  #}
    <table class = "table table-hover table-bordered">
        <thead>
        <tr>
            <th>name</th>
            <th>telephone</th>
        </tr>
        </thead>
        <tbody> {# 네임을 누르면 pk값을 갖는 페이지로 넘어가기  #}
        {% for shop in shop_list %}
            <tr>
                <td><a href="/delicious/{{ shop.pk }}/">
                    {{ shop.name }}
                </a>
                </td> {# 전화선택 가능하게 해서 누르면 전화되기 (구현은 x) #}
                <td><a href="tel:{{ shop.telephone }}">
                    {{ shop.telephone }}
                </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}